@font-face {
	font-family: "Futura";
	src:
		url("../fonts/futura-extra-bold.eot?#iefix") format("eot"),
		url("../fonts/futura-extra-bold.woff2") format("woff2"),
		url("../fonts/futura-extra-bold.woff") format("woff"),
		url("../fonts/futura-extra-bold.ttf") format("truetype");
    
    font-style: normal;
	font-weight: 1 1000;
}

@font-face {
	font-family: "Futura";
	src:
		url("../fonts/futura-extra-bold.eot?#iefix") format("eot"),
		url("../fonts/futura-extra-bold.woff2") format("woff2"),
		url("../fonts/futura-extra-bold.woff") format("woff"),
		url("../fonts/futura-extra-bold.ttf") format("truetype");
    
    font-style: italic;
	font-weight: 1 1000;
}