/* BACKGROUND MESSAGE */

.background-message-field {
    display: none;
}

.background-message__container__container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: grid;
    align-content: space-between;

    overflow: hidden;

    font-family: var(--emphasized-font);
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary-color) !important;
    opacity: 15%;

    user-select: none;

    z-index: -1 !important;
}

@media (prefers-reduced-motion) {
    .background-message__container__container {
        justify-content: center;
    }

    .background-message__line__inner {
        position: relative;
    }

    .background-message__container:nth-of-type(odd) .background-message__line:nth-of-type(odd) .background-message__line__inner,
    .background-message__container:nth-of-type(even) .background-message__line:nth-of-type(even) .background-message__line__inner {
        transform: translate(-50%);
    }
}

@media (min-width: 992px) {
    .background-message__container__container {
        font-size: 4rem;
        opacity: 10%;
    }
}

.secondary-color-scheme .background-message__container__container {
    z-index: 0 !important;
}

.background-message__line {
    display: flex;
    max-width: 100%;
    overflow: hidden;
}

.background-message__line__inner {
    width: fit-content;
    text-wrap: nowrap;
}

@media (prefers-reduced-motion: no-preference) {
    .background-message__container:nth-of-type(odd) .background-message__line:nth-of-type(even),
    .background-message__container:nth-of-type(even) .background-message__line:nth-of-type(odd) {
        --animation-speed-factor: .5;
    }

    .background-message__line__inner {
        animation: message-scroll calc(120s / var(--animation-speed-factor, 1)) linear infinite var(--animation-direction, forwards);
    }

    @supports (animation-timeline: view(disabled)) {
        .background-message__line__inner {
            transform: translate(0);
            transform-origin: left;
            animation: message-scroll 1ms linear var(--animation-direction, forwards);
            animation-timeline: view();
        }
    }
}

@keyframes message-scroll {
    to {
        transform: translate(-100%);
    }
}      



/* FULL SIZED */

.full-sized {
    position: relative;
    min-height: calc(100vh - var(--nav-height-small) - var(--wordpress-support-bar) - 2 * var(--standard-margin));
    min-height: calc(100svh - var(--nav-height-small) - var(--wordpress-support-bar) - 2 * var(--standard-margin));
    overflow: hidden;

    scroll-snap-align: start;
	scroll-margin: calc(var(--nav-height-small)) 0 0 !important;
}

.full-sized.has-cover {
    min-height: calc(100vh - var(--nav-height-small) - var(--wordpress-support-bar));
    min-height: calc(100svh - var(--nav-height-small) - var(--wordpress-support-bar));
}

.full-sized .wp-block-group__inner-container {
    align-content: center;
}

.full-sized .wp-block-media-text {
    padding: 0;
}



/* FULL WIDTH */
/* HAS COVER */

.full-width,
.has-cover {
    position: relative;
    margin: 0 !important;
    max-width: unset !important;
    width: 100%;

    scroll-margin: var(--nav-height-small) 0 0 !important;
}

.full-width {
    padding: var(--standard-margin) 0 !important;
}

.has-cover {
    color: var(--accent-color) !important;
    padding: 0 !important;
}

.wrapper>.full-width>.wp-block-group__inner-container {
    position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 .714285rem;
}

.has-cover+.has-cover {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.has-cover h2,
.has-cover h3,
.has-cover h4,
.has-cover h5 {
    color: inherit !important;
}

/* SUBTITLE */

.subtitle {
    position: relative;
    margin-bottom: .6em;
    
    font-family: var(--emphasized-font);
    font-size: inherit !important;
    line-height: 1.5;

    color: var(--tertiary-color);
}

.pride .subtitle,
.trans-pride .subtitle {
    color: inherit;
}

.has-cover h2:not(.subtitle+h2),
.has-cover h3:not(.subtitle+h3),
.has-cover h4:not(.subtitle+h4),
.has-cover h5:not(.subtitle+h5),
.subtitle {
    width: 60%;
    min-height: 1.5em;

    overflow: hidden;
}

@media (max-width: 991px) {
    .has-cover h2:not(.subtitle+h2),
    .has-cover h3:not(.subtitle+h3),
    .has-cover h4:not(.subtitle+h4),
    .has-cover h5:not(.subtitle+h5),
    .subtitle {
        width: 67%;
    }
}

@media (max-width: 600px) {
    .has-cover h2:not(.subtitle+h2),
    .has-cover h3:not(.subtitle+h3),
    .has-cover h4:not(.subtitle+h4),
    .has-cover h5:not(.subtitle+h5),
    .subtitle {
        width: unset;
    }
}

.has-cover h2:not(.subtitle+h2)::after,
.has-cover h3:not(.subtitle+h3)::after,
.has-cover h4:not(.subtitle+h4)::after,
.has-cover h5:not(.subtitle+h5)::after,
.subtitle::after {
    content: '';

    position: absolute;
    bottom: .45em;
    height: .6em;
    width: 100%;
    margin-left: .6em;

    background: var(--tertiary-color) !important;
}

@media (max-width: 600px) {
    .has-cover h2:not(.subtitle+h2)::after,
    .has-cover h3:not(.subtitle+h3)::after,
    .has-cover h4:not(.subtitle+h4)::after,
    .has-cover h5:not(.subtitle+h5)::after,
    .subtitle::after {
        content: unset;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .has-cover h2:not(.subtitle+h2):hover::after,
    .has-cover h3:not(.subtitle+h3):hover::after,
    .has-cover h4:not(.subtitle+h4):hover::after,
    .has-cover h5:not(.subtitle+h5):hover::after,
    :has(.wp-block-heading:hover)>.subtitle::after {
        animation: subtitle-after .4s ease-in-out;
    }
}

@keyframes subtitle-after {
    from {
        margin-left: .6em;
    }

    25% {
        margin-left: calc(10% + .6em);
    }

    50% {
        margin-left: .6em;
    }

    75% {
        margin-left: calc(5% + .6em);
    }

    to {
        margin-left: .6em;
    }
}

.has-cover .wp-block-cover {
    height: inherit;
    min-height: inherit !important;
    padding: 0 !important;
}

.has-cover .wp-block-cover__background,
header .wp-block-cover__background {
    opacity: 1 !important;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)) !important;
    background-attachment: fixed !important;
}

.has-cover .wp-block-cover__image-background,
header .wp-block-cover__image-background {
    background-position: 50% calc(50% + (var(--nav-height-big) - var(--nav-height-small))) !important;
}

@media (max-aspect-ratio: 1/1) {
    .has-cover .wp-block-cover__image-background,
    header .wp-block-cover__image-background {
        background-position: 50% calc(50% + (var(--nav-height-big) - var(--nav-height-small)) / 2) !important;
    }
}



/* HORIZONTAL */

.horizontal {
    display: block;
    position: relative;
    
    margin: 0 !important;
    padding: 0 !important;
    height: calc(var(--number-of-items) * var(--width) - var(--nav-height-small));
    max-width: unset !important;
    
    scroll-snap-align: start end;
	scroll-margin: calc(var(--nav-height-small)) 0 0 !important;
}

.horizontal~.horizontal {
    display: flex;
    height: auto;
    justify-content: center;
}

.horizontal~.horizontal::before {
    content: "Error caused by having multiple horizontal scroll sections on the same page; please don't use this pattern more than once per page.";

    margin: auto !important;
    padding: var(--standard-margin) .714285rem !important;
    width: 100%;
    max-width: 1200px !important;
}

.horizontal~.horizontal * {
    display: none !important;
}

.horizontal>.wp-block-group__inner-container {
    box-sizing: border-box;
	width: 100%;
    height: calc(100vh - var(--nav-height-small) - var(--wordpress-support-bar));
    height: calc(100dvh - var(--nav-height-small) - var(--wordpress-support-bar));
	margin-top: 0;
	position: sticky;
	top: var(--nav-height-small);

    overflow: hidden;
}

.horizontal>.wp-block-group__inner-container>.wp-block-group {
    box-sizing: border-box;
	height: 100%;
	display: flex;
    will-change: transform;
    transform-style: preserve-3d;
    transform: translate3d(calc((var(--number-of-items) - 1) * var(--left)), 0px, 0px);
    gap: 0;
}

.horizontal>.wp-block-group__inner-container>.wp-block-group>.wp-block-group {
	flex: none;
	width: var(--width);
	max-height: calc(100vh - var(--nav-height-small) - var(--wordpress-support-bar));
    max-height: calc(100dvh - var(--nav-height-small) - var(--wordpress-support-bar));
	display: block;
    padding-block: var(--standard-margin);

    overflow: hidden;
}

.horizontal>.wp-block-group__inner-container>.wp-block-group>.wp-block-group>.wp-block-group__inner-container {
    max-width: 1200px;
    max-height: calc(100dvh - var(--nav-height-small) - var(--wordpress-support-bar) - 2 * var(--standard-margin));
	margin: 0 auto;
	padding-inline: .714285rem;
}

.horizontal>.wp-block-group__inner-container>.wp-block-group>.wp-block-group>.wp-block-group__inner-container * {
    max-height: inherit;
}

.horizontal>.wp-block-group__inner-container>.wp-block-group .photo-credit {
    left: .714285rem !important;
}

.horizontal .wp-block-media-text__content {
    padding: 1rem 1.5rem !important;

    backdrop-filter: blur(.5rem) brightness(160%) grayscale(60%);
}

.horizontal.secondary-color-scheme .wp-block-media-text__content,
.horizontal:not(:has(.pitch)) .wp-block-media-text__content {
    backdrop-filter: unset;
}

@supports not (backdrop-filter: blur(.5rem) brightness(160%) grayscale(60%)) {
    .horizontal .wp-block-media-text__content,
    .horizontal .wp-block-media-text__content * {
        color: var(--accent-color) !important;
    }

    .horizontal .wp-block-media-text__content {
        background-color: color-mix(in srgb, var(--primary-color) 60%, transparent) !important;
    }
}

@supports not ((backdrop-filter: blur(.5rem) brightness(160%) grayscale(60%)) or (background-color: color-mix(in srgb, var(--primary-color) 60%, transparent))) {
    .horizontal .wp-block-media-text__content {
        background-color: var(--primary-color) !important;
    }
}

@media (max-width: 600px) {
    .horizontal .wp-block-media-text__content {
        padding: 1rem !important;
    }
}

.horizontal .has-cover h2:not(.subtitle + h2):hover::after,
.horizontal .has-cover h3:not(.subtitle + h3):hover::after,
.horizontal .has-cover h4:not(.subtitle + h4):hover::after,
.horizontal .has-cover h5:not(.subtitle + h5):hover::after,
.horizontal :has(.wp-block-heading:hover) > .subtitle::after {
    animation: none;
}



/* PITCH */

.pitch {
    --size-factor: 5;
    --angle: 67.5deg;
    
    --line-width: .5rem;

    position: absolute;
    top: calc(.5 * (100% - (.5 * var(--size-factor) * var(--width) / 3)));
    width: calc(var(--size-factor) * var(--width) / 3);
    height: calc(.5 * var(--size-factor) * var(--width) / 3);

    transform-style: preserve-3d;
    transform: perspective(100vw) translateX(calc(.5 * var(--left))) translateZ(-40rem) rotateX(var(--angle));

    background-color: #336F1A;
    opacity: 1;

    z-index: -1;

    /* Anti Aliasing on Firefox */
    outline: 1px solid transparent;
}

@media (max-width: 600px) {
    .pitch {
        --size-factor: 7;

        top: calc(.9 * (100% - (.5 * var(--size-factor) * var(--width) / 3)));
    }
}

@media (min-width: 992px) {
    .pitch {
        background-color: #050;
    }
}

.hoops {
    position: absolute;
    top: 41.66667%;
    bottom: 41.66667%;
    width: calc(100% / 60);

    transform-style: preserve-3d;
    transform: none;
}

.hoops:nth-of-type(1) {
    left: calc(22.5% - 50% / 60);
}

.hoops:nth-of-type(2) {
    right: calc(22.5% - 50% / 60);
}

.hoop {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;

    transform-origin: center bottom;
    transform: rotateX(-90deg) rotateY(90deg);

    background: var(--hoop-src) top center no-repeat;
    background-size: cover;

    /* Anti Aliasing on Firefox */
    outline: 1px solid transparent;
}

.hoop:nth-of-type(1) {
    top: -50%;
}

.hoop:nth-of-type(2) {
    top: 0%;
}

.hoop:nth-of-type(3) {
    top: 50%;
}

.hoop-small {
    transform: rotateX(-90deg) rotateY(90deg) translateY(33.33333%);
}

.hoop-medium {
    transform: rotateX(-90deg) rotateY(90deg) translateY(16.66667%);
}

.line {
    position: absolute;
    top: 0;
    bottom: -5%;
    width: var(--line-width);

    background-color: #fff;
    opacity: .25;

    transform: translateZ(calc(.5 * var(--size-factor) * var(--width) / 200));

    /* Anti Aliasing on Firefox */
    outline: 1px solid transparent;
}

.line:nth-of-type(3) {
    left: calc(31.66667% - 50% / 60);
}

.line:nth-of-type(4) {
    right: calc(31.66667% - 50% / 60);
}

.line:nth-of-type(5) {
    left: calc(50% - 50% / 60);
}

.grass {
    display: none;
}

@media (min-width: 992px) {
    .grass {
        display: grid;
        align-content: space-between;

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        transform-style: preserve-3d;
        transform: none;
    }

    .grass-row {
        width: 99.75%;
        height: calc(.5 * var(--size-factor) * var(--width) / 200);
        margin-left: .25%;
    
        transform-origin: center bottom;
        transform: rotateX(-67.5deg);
    
        background: var(--grass-src) top center;
    }
    
    .grass-row:nth-of-type(5n) {
        background-position-x: 40%;
    }
    
    .grass-row:nth-of-type(5n+1) {
        background-position-x: 27%;
    }
    
    .grass-row:nth-of-type(5n+2) {
        background-position-x: 61%;
    }
    
    .grass-row:nth-of-type(5n+3) {
        background-position-x: 83%;
    }
    
    .grass-row:nth-of-type(5n+4) {
        background-position-x: 5%;
    }
}



/* LOGO BACKGROUND */

.logo-background {
    position: relative;
}

.logo-background::after {
    content: '';

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: fixed center calc(50% + (var(--nav-height-small) + var(--wordpress-support-bar)) / 2) / 300px no-repeat !important;
    background-image: var(--alternative-logo-src, var(--logo-src)) !important;
    filter: grayscale(1);
    opacity: 15%;
}

@media (min-width: 992px) {
    .logo-background::after {
        background: fixed center calc(50% + (var(--nav-height-small) + var(--wordpress-support-bar)) / 2) / 500px no-repeat !important;
        background-image: var(--alternative-logo-src, var(--logo-src)) !important;
        opacity: 10%;
    }
}

.logo-background>* {
    z-index: 1;
}



/* PHOTO CREDIT */

.photo-credit {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .125em .5em !important;
    margin: 0;

    color: var(--accent-color) !important;
    font-size: 1rem !important;
    
    backdrop-filter: blur(.5rem);

    z-index: 1;
}

@supports not (backdrop-filter: blur(.5rem)) {
    .photo-credit {
        background-color: color-mix(in srgb, var(--primary-color) 60%, transparent) !important;
    }
}

@supports not ((backdrop-filter: blur(.5rem)) or (background-color: color-mix(in srgb, var(--primary-color) 60%, transparent))) {
    .photo-credit {
        background-color: var(--primary-color) !important;
    }
}

.photo-credit a {
    text-decoration: none;
}

.wp-block-media-text+.photo-credit {
    left: 0;
    right: unset;
    bottom: .6em;
}

.wp-block-media-text.has-media-on-the-right+.photo-credit {
    left: unset;
    right: 0;
}

@media (max-width: 600px) {
    .wp-block-media-text+.photo-credit {
        top: 0;
        bottom: unset;
        left: 0 !important;
        right: unset !important;
    }

    .full-sized .wp-block-media-text+.photo-credit {
        left: 0 !important;
    }
}



/* SCROLL BAR */

.scroll-bar {
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    height: 0;
    width: 100%;
    max-width: unset !important;

    overflow: hidden;

    z-index: 2;
}

.secondary-color-scheme+.scroll-bar {
    background: fixed var(--primary-color);
}

.secondary-color-scheme+.scroll-bar::before,
.scroll-bar::after {
    content: '';

    position: absolute;
    height: .6em;
}

.secondary-color-scheme+.scroll-bar::before {
    top: 0;

    background: var(--primary-background-color);
}

.scroll-bar::after {
    bottom: 0;

    background: var(--tertiary-color);
}

.scroll-bar+p {
    display: none;
}

@media (prefers-reduced-motion: no-preference) {
    @supports (animation-timeline: view(block var(--nav-height-small) 0)) {
        .scroll-bar {
            height: .6em;

            overflow: initial;
        }

        .secondary-color-scheme+.scroll-bar {
            height: 1.8em;
        }

        .scroll-bar::before,
        .scroll-bar::after {
            left: 0;
            right: 100%;

            animation: scroll-bar-left 1ms linear forwards;
            animation-timeline: view(block var(--nav-height-small) 0);
        }

        .scroll-bar::before,
        .scroll-bar:nth-of-type(even)::after {
            left: unset;
            right: 0;

            animation-name: scroll-bar-right;
        }

        .scroll-bar:nth-of-type(even)::before {
            left: 0;
            right: unset;

            animation-name: scroll-bar-left;
        }
    }
}

@keyframes scroll-bar-left {
    from {
        left: 0;
        right: 100%;
    }

    50% {
        left: 0;
        right: 0;
    }

    to {
        left: 100%;
        right: 0;
    }
}

@keyframes scroll-bar-right {
    from {
        left: 100%;
        right: 0;
    }

    50% {
        left: 0;
        right: 0;
    }

    to {
        left: 0;
        right: 100%;
    }
}



/* SECONDARY COLOR SCHEME */

.secondary-color-scheme,
.secondary-color-scheme * {
    color: var(--accent-color) !important;
}

.secondary-color-scheme {
    background: var(--primary-color) !important;
}

.secondary-color-scheme > * {
    z-index: 1;
}